.line1 {
	margin-left: 8px;
	width: 90px;
}

.line2 {
	margin-left: 8px;
	width: 90px;
}

.line3 {
	margin-left: 8px;
	width: 90px;
}

.line4 {
	margin-left: 8px;
	width: 90px;
}

.line5 {
	margin-left: 8px;
	width: 90px;
}

.line6 {
	margin-left: 8px;
	width: 90px;
}

.line7 {
	margin-left: 8px;
	width: 90px;
}

.line8 {
	margin-left: 8px;
	width: 90px;
}

.line9 {
	margin-left: 8px;
	width: 90px;
}

.line10 {
	width: 90px;
}



.result {
	margin-top: 20px;
	margin-left:  20px;
	width: 90px;
}

